<!-- Footer -->
<footer style="background: #000; color: #fff; padding: 30px 0;">
  <div class="container">
    <div class="row">
      <!-- Contact Information -->
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          Chitra Kumar Sai Chenuri Venkata <br>
          Phone: +1 (316) 123-4567 <br>
          Email: <a href="mailto:chitrakumarsai@gmail.com" style="color: #00bfff;">chitrakumarsai@gmail.com</a><br>
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="/about" style="color: #b0c4de;"> About </a></p>
        <p><a href="/about" style="color: #b0c4de;"> Resume </a></p>
        <p><a href="/contact" style="color: #b0c4de;"> Contact </a></p>
        <p><a href="/blog" style="color: #b0c4de;"> Medium Articles </a></p>
        <p><a href="/team" style="color: #b0c4de;"> Certificates </a></p> 
      </div>

      <!-- Social Media -->
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Socialize</h3>
        <div id="social-icons">
          <!-- LinkedIn -->
          <a href="https://www.linkedin.com/in/chitrakumarsai/" class="btn-group linkedin" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>

          <!-- Medium -->
          <a href="https://medium.com/@chitrakumarsai" class="btn-group medium" target="_blank">
            <i class="fa fa-medium"></i>
          </a>

          <!-- GitHub -->
          <a href="https://github.com/chitrakumarsai" class="btn-group github" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text-center" style="margin-top: 20px; color: #b0c4de;">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#" style="color: #00bfff;">Your Website Link</a>. <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank" style="color: #00bfff;">Melvin Ch'ng</a></p>
  </div>
</footer>

<!-- Social Icons Styling -->
<style>
  #social-icons .btn-group {
    font-size: 28px;
    margin-right: 15px;
    color: #b0c4de;
    transition: color 0.3s;
  }

  #social-icons .btn-group:hover {
    color: #00bfff;
  }

  .btn-group.linkedin:hover {
    color: #0077b5;
  }

  .btn-group.medium:hover {
    color: #00ab6c;
  }

  .btn-group.github:hover {
    color: #f5f5f5;
  }
</style>
