<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/IMG_7505.jpg" height="400" alt="Image of first carousel" style="width: 100vw; height: 100vh; object-fit: cover; display: block;">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">CHITRA KUMAR SAI CHENURI VENKATA</h3>
                                <p class="carousel-body">DATA SCIENTIST</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/slider/IMG_7505.jpg" height="400" alt="Image of second carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">CHITRA KUMAR SAI CHENURI VENKATA</h3>
                                <p class="carousel-body">DATA SCIENTIST</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/slider/IMG_7505.jpg" height="400" alt="Image of third carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">CHITRA KUMAR SAI CHENURI VENKATA</h3>
                                <p class="carousel-body">DATA SCIENTIST</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">Mission</h3>
                    <p class="services-header-body"><em> Driving efficiency and strategic growth through advanced AI solutions. </em>  </p><hr>
                </div>
            </div>
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"></p>
                        <h4 class="services-title">Uber ETA Predictions</h4>
                        <p class="services-body">Uber ETA (Estimated Time of Arrival) prediction involves using historical ride data and relevant features to accurately estimate the time it will take for a ride to reach its destination.</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"></p>
                        <h4 class="services-title">Demand Forecasting</h4>
                        <p class="services-body">PJM demand forecasting involves predicting hourly power consumption across its service areas using historical data and advanced machine learning models.</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"></p>
                        <h4 class="services-title">Youtube/Speech To Text</h4>
                        <p class="services-body">Whisper by OpenAI converts audio files or YouTube video links into text with accurate transcription and translation in English, supporting multiple audio formats.</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>        
                </div>
            </div>
            <!-- End Serivces Row 1 -->
      
            <!-- Begin Services Row 2 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"></p>
                        <h4 class="services-title">Customer Support Agentic AI</h4>
                        <p class="services-body">AI-driven customer support agent developed using LangChain and Langraph, leveraging state-of-the-art language models.</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"></p>
                        <h4 class="services-title">RAG App</h4>
                        <p class="services-body">Full-stack app for document upload, indexed querying, and LLM-powered responses using Retrieval-Augmented Generation (RAG).</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"></i></p>
                        <h4 class="services-title">Multimodel RAG</h4>
                        <p class="services-body">In progress....</p>
                        <p class="services-more"><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 2 -->
    
        </div>      
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
